
.gallery {

    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    list-style: none;
    margin:auto;
    width: 100%;
    padding: 0;
    align-self: center;
}
.aspect-ratio {
    padding-top: calc(100% * 8/ 7);    
    
}

.aspect-ratio::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.364);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;

}


.aspect-ratio:hover::before {
    transform: translateX(0%);
    opacity: 0%;
}

.projects-container__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    z-index: -1;

}


.project-header{

    color: rgb(255, 255, 255);
    position: relative;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    border-radius: 20px;
    padding: 0;
    margin-bottom: 20%;
}


.gallery-item_paragraph {

    color: rgb(255, 255, 255);
    font-size: 16px;
    position: absolute;
    display: block;
    top: 40%;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: "Roboto Condensed", Sans-serif;
    text-align: center;
    padding: 0 15%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  
}


.gallery-item__button
{
    background-color: rgba(0, 0, 0, 0.683);
    border-radius: 5%;
    padding: 10px 40px;
    left: 30%;
    top: 10%;
    border-style: none;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    display: block;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
   
}
/*

.aspect-ratio:hover .project-header {
    transition: ease-out 0.4s;
    transition-delay: 0.1s;
    transform: translateY(-2%);
   
}
*/

.aspect-ratio:hover .gallery-item_paragraph {
    display: block;
    transition: ease-out 0.4s;
    transition-delay: 0.1s;
    opacity:100%;
}

.aspect-ratio:hover .gallery-item__button {
    transition: ease-out 0.4s;
    transition-delay: 0.1s;
    opacity:100%;
  
}

.gallery-item__button:hover {

    background-color: rgba(0, 0, 0, 0.85);
}


.gallery-item {
   
    position: relative;
    overflow: hidden;
}


@media screen and (max-width:1024px)
{

    .gallery {

        grid-template-columns: repeat(auto-fill , 50%);
    
    }
    .project-header {

        display: flex;
        flex-direction: column;
        display: block;
     
    }
    .project-header
    {
        font-size: 28px;
    }


    .gallery-item_paragraph {

        font-size: 18px;
        bottom: 15%;
        font-weight: 100;
        padding: 0 15%;
      
    }

   


    .gallery-item__button
{
    background-color: rgba(0, 0, 0, 0.683);
    opacity: 100%;
 
  
}


    .aspect-ratio:hover .gallery-item_paragraph{

        opacity: 100%;
    }

    

  
}

@media screen and (max-width:768px)
{
   .gallery{
       grid-template-columns: repeat(auto-fill , 100%);
   }


   .gallery-item__button
   {
       background-color: rgba(0, 0, 0, 0.683);
       padding: 30px, 50px;
       opacity: 0;
       font-size: 20px;
       width: 300px;
       height: 50px;
     
    
     
   }
}


@media screen and (max-width:416px)
{
   .gallery{
       grid-template-columns: repeat(auto-fill , 100%);
   }

   .aspect-ratio{
      
    
    padding-top: calc(100% * 9 / 14);
  


   }
}
*/